/* flex gap-4 items-center border border-b-1 border-slate-200 */
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

.headerStartScreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

.logoWrap {
  font-weight: 900;
  font-size: 19px;
  color: rgb(32, 0, 63);
  padding: 0.8rem 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.logoWrapStartScreen {
  font-weight: 900;
  font-size: 30px;
  color: rgb(32, 0, 63);
  margin: 20px;
}

.slogan {
  display: inline-block;
  background-color: #def4ff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 16px;
}

.sloganWizard {
  display: inline-block;
  background-color: #ffdeff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 16px;
}
.topMenuBar {
  /* flex items-center gap-3 px-3 py-2 */
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.4rem 1.5rem;
  justify-content: space-between;
}

.uuidWORD {
  font-size: small;
  font-weight: 700;
  color: #282828;
  text-transform: uppercase;
}
.uuid {
  color: #282828;
  margin: 0;
}

.name {
  margin: 0.6rem;
}
.saveUuid {
  display: flex;
  gap: 16px;
  align-items: center;
}

.projectPromt {
  font-size: 13px;
  color: #ea5252;
  font-weight: 500;
}
