/* flex items-center justify-between gap-2 py-2 px-4 
border-none focus:outline-none select-none font-medium 
leading-none rounded text-violet11 text-[14px] hover:bg-indigo-100 */
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
