.selectBtn {
  width: 300px;
  padding: 0.6rem 1.2rem;
  background-color: #def4ff;
  border-radius: 6px;
  color: #282828;
  font-size: 0.8rem;
  font-weight: 600;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectOptions {
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  cursor: pointer;
  user-select: none;
}

.projectLabel {
  font-size: 0.8rem;
  display: block;
  padding: 0.2rem 0.6rem;
  margin: 0.6rem 0;
  width: fit-content;
  background-color: #d9ffd1;
}

.projectName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
