.paginationPageCount {
  /* width: 120px; */
  display: flex;
  gap: 12px;
  justify-content: space-around;
  align-items: center;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.paginBtn {
  padding: 0.5rem 1rem;
  border: none;
  background: #def4ff;
  color: #282828;
  white-space: nowrap;
  border-radius: 6px;
  user-select: none;
}

.paginBtn:hover {
  background-color: #bfeaff;
}

.paginBtn:disabled {
  background-color: #f5f5f5;
}

.pageBtn {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.pageCurrent {
  background-color: #def4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 50%;
  user-select: none;
}

.pageBtn:hover {
  background-color: #f0faff;
}

.pageNumberImput {
  width: 82px;
  font-size: 13px;
  border-bottom: 1px solid #909090;
  font-weight: 300;
  padding: 0 6px;
}
