#root {
  width: 100%;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* STYLES */

.sv-header {
  display: none;
  height: 120px !important;
}
.sv-header__content {
  display: block !important;
  padding: 3.4rem 2rem 0 2rem !important;
  background: rgb(4, 0, 79);
  background: linear-gradient(
    104deg,
    rgba(4, 0, 79, 1) 0%,
    rgba(1, 74, 158, 1) 29%,
    rgba(0, 87, 166, 1) 100%
  );
}
.sv-components-row {
  margin-top: 4rem;
}
.sd-checkbox--checked .sd-checkbox__svg use {
  fill: #00016f !important;
}
/* 
.sv-components-column,
.sv-list { */
/* width: 320px !important; */
/* min-height: 100vh !important; */

.sv_progress-toc {
  min-width: 100%;
  background: none !important;
  border: none !important;
}

.sd-body__navigation.sd-action-bar {
  flex-wrap: nowrap !important;
  justify-content: space-between;
  gap: 0 !important;
}

/* .sv-string-viewer {
  font-weight: 600 !important;
} */

.sv-list__item-body {
  padding-inline-start: 33px;
}

.sv-list__item.sv-list__item--selected {
  background-color: #dddbff;
  color: #fff;
}

.sv-header__title > .sd-title {
  text-transform: uppercase;
  font-size: 1.6rem !important;
  letter-spacing: 1.2px;
}
.sd-input,
.sd-checkbox__decorator,
.sd-radio__decorator {
  background: #4f7dcc26 !important;
}

.sd-matrixdynamic__add-btn > span {
  display: none !important;
}

.sd-matrixdynamic__add-btn::after {
  content: "Add Empty Row";
}
#sv-nav-clear-page input,
#sv-nav-clear-all input {
  /* border: 1px solid #e50a3e; */
  color: #e50a3e;
  background: #fff;
}
#sv-nav-clear-page input:hover,
#sv-nav-clear-all input:hover {
  /* border: 1px solid #e50a3e; */
  color: #fff;
  background: #e50a3e;
}

#sv-nav-prev {
  grid-area: prev;
}
#sv-nav-next {
  grid-area: next;
}
#sv-nav-clear-page {
  grid-area: clear-page;
}
#sv-nav-clear-all {
  grid-area: clear-all;
}
.sd-action-bar {
  display: grid !important;
  grid-template-areas: "prev next . . . . . . clear-page clear-all";
}
.wrapper {
  position: relative;
  margin-top: 3rem;
}
.headerWrap {
  /* fixed bg-white z-50 top-0 left-0 right-0 */
  position: fixed;
  background-color: #fff;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
}
.mainWrap {
  margin-top: 3rem;
}
.showPreview {
  position: fixed;
  bottom: 0;
  left: 0;
}
.showBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #e0e2ff;
  border-radius: 3px;
  width: 180px;
  color: #030453;
  z-index: 9999;
}
.showBtn:focus {
  outline: none;
  z-index: 9999;
}
.portalWrapper {
  width: 100%;
  background-color: #dddbff;
}
.DialogOverlay {
  background-color: #ebe6ff60;
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 99;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogTitle {
  /* padding-top: 2rem; */
  font-size: 1rem;
}
.previewModal {
  position: fixed;
  height: 100%;
  bottom: 0;
  /* left: 50%; */
  right: 0;
  padding: 2rem;
  background-color: #fff;
  z-index: 9999;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  overflow-y: scroll;
}
/* .modalJson {
  height: 100%;
  padding-bottom: 2rem;
} */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
