#root {
  width: 100%;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* STYLES */
.sv-header {
  height: 160px !important;
}

.sv-components-column,
.sv-list {
  width: 320px !important;
  min-height: 100vh !important;
}
.sv_progress-toc {
  min-width: 100%;
  background: none !important;
  border: none !important;
}

.sd-body__navigation.sd-action-bar {
  flex-wrap: nowrap !important;
}

.sv-string-viewer {
  font-weight: 600 !important;
}

.sv-list__item-body {
  padding-inline-start: 33px;
}

.sv-list__item.sv-list__item--selected {
  background-color: #dddbff;
  color: #fff;
}

.sv-header__title > .sd-title {
  text-transform: uppercase;
  font-size: 1.6rem !important;
  letter-spacing: 1.2px;
}
.sd-input,
.sd-checkbox__decorator {
  background: #9cc0ff26 !important;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
